#simulatorPage {
    width: 90vw;
    height: auto;
}

#sim-page-nav-bar {
    width: 100%;
    height: 80vh;
    border: 1px solid green;
}

.top-info-cards {
    width: 50%;
    height: 10vh;
    border: 1px solid red;
}

#main-sim-page-div {
    width: 100%;
    /* height: 68vh; */
    border: 1px pink solid
}

/* ostajte go ova vaka ke se odkomentira koga ke se naprai hide/show na divovite kade sto ke se prikazuvaat site raboti vo simulatorot */
/* .sim-views {
    height: 100%;
    position: relative;
    width: 100%;
} */

.sim-nav-btn {
    width: 100%;
    word-break: break-word;
    font-size: medium;

}

/* #region Ilija Mitev => TODO: Create side Market bar  */
#sim-page-side-market {
    width: 100%;
    height: 80vh;
    border: 1px solid yellow;
    overflow: hidden;
}

#sim-page-side-market>h4 {
    height: 4%;
}

.marketTableHeader {
    width: 90%;
    height: 7%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 2px solid goldenrod;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 5%;
    overflow: hidden;
    align-items: center;
}

.marketTableHeader>span {
    color: gold;
    text-align: center;
    font-size: 1.2rem;
}

#sideMarketBarCoins {
    height: 74%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: auto;
    scroll-behavior: smooth;
}

#sideMarketLoader {
    margin-left: 45%;
}

div.marketTable {
    width: 90%;
    height: 2.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 2px solid goldenrod;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

div.marketTable:hover {
    background-color: rgba(100, 100, 100, 0.689);
}

div.marketTable>span {
    padding-top: 0.5%;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    word-wrap: break-word;
}

.marketTableHeader>span:nth-of-type(1),
div.marketTable>span:nth-of-type(1) {
    width: 10%;
}

.marketTableHeader>span:nth-of-type(2),
div.marketTable>span:nth-of-type(2) {
    width: 25%;
}

.marketTableHeader>span:nth-of-type(3),
div.marketTable>span:nth-of-type(3) {
    width: 24%;
}

.marketTableHeader>span:nth-of-type(4),
div.marketTable>span:nth-of-type(4) {
    width: 23%;
}

.marketTableHeader>span:nth-of-type(5),
div.marketTable>span:nth-of-type(5) {
    width: 18%;
}

div.marketTable>span:last-of-type:hover {
    color: gold;
    cursor: pointer;
}

#sideMarketBarCoins::-webkit-scrollbar {
    display: none;
}

/* #endregion */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.accordionBtn {
    width: 100%;
    background-color: #17181D;
    text-align: left;
    border-radius: 0px;
    border: none;
    color: whitesmoke;
}

.accordionBtn:hover {
    background-color: #17181D;
    color: goldenrod;
}

.accordion-item {
    border: none
}

.accordion-body {
    border: 1px solid goldenrod;
    height: 30vh;
}

#card-logos-img {
    height: 30px;
}

#walletAccordion {
    position: relative;
    height: 100%;
}

#accordion-container {
    height: 100%;
}

#portfolio{
    overflow:auto !important
}

#modalLabel{
    text-align: center;
    color: goldenrod;
}

#buySellModalChartContainer{
    float: left;
    height: 100%;
}

#trade-details{
    float: left;
}

#buySellInputsContainer{
    height: 30vw;
}

#buyBtn, #sellBtn{
    width: 100%;
}

#exceedingAmountError{
    height: 30px;
    font-size: small;
}