#simulatorPage{
    width: 90vw;
    height: auto;
}

#sim-page-nav-bar {
    width: 100%;
    height: 80vh;
    border: 1px solid green;
}

.top-info-cards {
    width: 50%;
    height: 10vh;
    border: 1px solid red;
}

#main-sim-page-div{
    width: 100%;
    /* height: 68vh; */
    border: 1px pink solid
}

/* ostajte go ova vaka ke se odkomentira koga ke se naprai hide/show na divovite kade sto ke se prikazuvaat site raboti vo simulatorot */
/* .sim-views {
    height: 100%;
    position: relative;
    width: 100%;
} */

#sim-page-side-market{
    width: 100%;
    height: 80vh;
    border: 1px solid yellow;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.accordionBtn {
    width: 100%;
    background-color: #17181D;
    text-align: left;
    border-radius: 0px;
    border: none;
    color: whitesmoke;
}

.accordionBtn:hover{
    background-color: #17181D;
    color: goldenrod;
}

.accordion-item{
    border: none
}

.accordion-body{
    border: 1px solid goldenrod;
    height: 30vh;
}

#card-logos-img{
    height: 30px;
}

#walletAccordion{
    position: relative;
    height: 100%;
}

#accordion-container{
    height: 100%;
}