/* #region ILIJA => Create Information Page (Blockchain part)*/
#blockchainBackgroundImg {
    width: 99vw;
    opacity: 0.18;
    z-index: -1;
    background: transparent;
    position: fixed;
}

#infoCenterPage h2 {
    color: goldenrod;
    font-size: 3.7em;
}

#infoCenterPage h2 span {
    font-size: 1.4em;
    color: gold;
}

#infoCenterPage h3 {
    color: goldenrod;
    font-size: 3.7em;
}

#infoCenterPage h3 span {
    font-size: 1.4em;
    color: gold;
}

#blockchainSection {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    row-gap: 30px;
}

.whatIsBlockchain>div {
    height: 580px;
    overflow: hidden;
    z-index: 2;
}

.whatIsBlockchain>div p {
    padding: 5% 12%;
    font-size: 2.1em;
    text-align: center;
    color: #c7c7c7;
}

.whatIsBlockchain>div p b {
    font-size: 1.1em;
    color: rgba(218, 165, 32, 0.922);
}

/* How blockchain works */
.howBlockchainWorks {
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.howBlockchainWorks>#blockchainCards {
    margin-top: 70px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 30px;
    background-color: #17181d9e;
}

#blockchainCards>div {
    width: 100%;
    height: auto;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    font-size: 1.6em;
}

#blockchainCards>div h5 {
    font-size: 3em;
    color: rgba(255, 217, 0, 0.905);
}

#blockchainCards>div h6 {
    font-size: 2em;
    color: azure;
}

/* #endregion ILIJA => Create Information Page */