*{
    color: white;
}

.td {
    height: 20vh;
}

.increase, .decrease{
    font-size: 1.5em;
}

.increase{
    color: green;
    text-shadow: 0px 0px 2px green;
}

.decrease{
    color: red;
    text-shadow: 0px 0px 2px red;
}

.single-coin-chart-container {
    width: 100%;
}

.info-container {
    float: right;
}

#statisticsTableContainer tr {
    cursor: pointer;
}

#prevPg, #nextPg {
    cursor: pointer;
    width: 8vw;
}

#table-loader{
    transform: scale(3, 3);
}

.darkModal {
    background-color: #17181D !important;
    color: whitesmoke !important;
}